# emacs .gitignore file
# ignore everything (all nested levels) under project root -- denoted by /** -- EXCEPT /init.el, /core/*.el, /lisp/*.el, and /README.md
# ignore all files with extension el~
/**
*.el~
!/init.el
!/.gitignore
!/README.md
!/core/
/core/**
!/core/*.el
/core/log.el
!/lib/
/lib/**
!/lib/README.md
